.example {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}

.example h2 {
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  color: #f44a1e;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 156px;
    height: 2px;
    background-color: #f44a1e;
  }

  &::before {
    left: -184px;
  }

  &::after {
    right: -184px;
  }
}

.example__image h3 {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.example__image img {
  display: block;
  margin-top: 34px;
  object-fit: cover;
  border: 1px solid #f44a1e;
  box-shadow: 0 0 48px rgba(244, 74, 30, 0.25);
}

.example button {
  display: block;
  width: 210px;
  padding: 15px 5px;
  margin-top: 44px;
  font-size: 17px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #f44a1e;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width-only) {
  .example h2 {
    font-size: 48px;
    line-height: 62px;

    &::before,
    &::after {
      width: 112px;
      height: 2px;
      background-color: #f44a1e;
    }

    &::before {
      left: -130px;
    }

    &::after {
      right: -130px;
    }
  }
}

@media(max-width: $mobile-width-only) {
  .example h2 {
    width: 290px;
    font-size: 38px;
    line-height: 52px;
    font-weight: 700;

    &::before,
    &::after {
      width: 25px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0px;
    }
  }

  .example__image h3 {
    text-align: center;
  }

  .example__image img {
    margin: 0 auto;
    margin-top: 30px;
  }

  .example button {
    margin: 0 auto;
    margin-top: 30px;
  }
}
