.main-header {
  padding: 30px 36px 45px 30px;
  background-color: #000000;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header li {
  margin-left: 26px;
  align-self: center;
}

.main-header a {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}
